<div style="padding: 50px;">
  <span>Event List({displayEvents.length} of {events.length}): </span>
  <input type="text" autofocus>
  <input type="button" value="add" @click="addEvent">
  <span #for="type of filters">
    <input type="radio" :id="type" name="filter" :value="type" @click="onFilter">
    <label :for="type">{type}</label>
  </span>
  <ol>
    <list-item
      #for="event of displayEvents"
      @remove="removeEvent"
      @change-status="switchDone"
      :done="event.done"
      :id="event.id"
      :text="event.text">
    </list-item>
    <empty-str #if="!displayEvents.length"></empty-str>
  </ol>
</div>